
body {
    color: black;
    font-family: Verdana;
    margin-right: 10%;
    margin-left: 10%;
    background: rgba(212,228,239,1);
    background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
    }

header {
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    color: white;
    text-align:  center;
    font-size: 35px;
    background: #2980b9;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 35px;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.38);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.38);
}
.vertical {
  padding:3px;
  border:1px solid black;
  background-color:white;
  width:300px;
  height:400px;
}
.horizontal {
  border:1px solid white;
  background-color:white;
  width:300px;
  height:196px;
}

.contenido {
    font-size: 20px;
    border-radius: 25px;
    border: 5px solid #80a4bf;
    background: white;
    padding: 1%;
}

.contenido h2{
    font-size: 24px;
}

.contenido h3{
    font-size: 19px;
}

.caja3 {
    padding: 1%;
    background: black;
    color: #3498db;
    border-radius: 25px;
    border: 5px solid #2980b9;
}

.caja3 p {
    margin: 0;
}

footer {
    color: white;
    text-align:  center;
    background: #2980b9;
    margin: 1%;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 35px;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.38);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.38);
}